// colors
$primary-one: hsl(0, 36%, 70%);
$primary-two: hsl(0, 93%, 68%);
$neutral-one: hsl(0, 6%, 24%);

// ### Gradients

// - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
// - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-size: 1.6rem;
	font-family: "Josefin Sans", sans-serif;
}
